In [1]:
import pandas as pd

In [4]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
## Craete series from dictionary 
data = {'a':1,'b':2,'c':3}

series = pd.Series(data)

print(series)

a    1
b    2
c    3
dtype: int64

In [ ]:
## Putting indices of our wish

data = [10,20,30]
index = ['a','b','c']

pd.Series(data,index = index)

a    10
b    20
c    30
dtype: int64

In [8]:
## DataFrame 

data = {
  'Name':['krish','jphn','jack'],
  'age' : [25,30,45],
  'city' : ['blr','new york','florida']
 }

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  age      city
0  krish   25       blr
1   jphn   30  new york
2   jack   45   florida
<class 'pandas.core.frame.DataFrame'>

In [12]:
## Dataframe from a list of dictionaries

data = [
  {'Name':'sahastra','age':64,'city':'blr '},
  {'Name':'noufal','age':21,'city':'chennai '},
  {'Name':'sahithi','age':18,'city':'guntur '},
  {'Name':'thrisha','age':32,'city':'mumbai'}
]

df = pd.DataFrame(data)
print(df)


print(df['Name'])

       Name  age      city
0  sahastra   64      blr
1    noufal   21  chennai
2   sahithi   18   guntur
3   thrisha   32    mumbai
0    sahastra
1      noufal
2     sahithi
3     thrisha
Name: Name, dtype: object

In [13]:
## Manipulating the dataframe

print(df)

       Name  age      city
0  sahastra   64      blr
1    noufal   21  chennai
2   sahithi   18   guntur
3   thrisha   32    mumbai

In [ ]:
df['salary'] = [5000,70000,1000,3000]
print(df)
 
## axis one means the column, and inplace means the change will be permanent 

df.drop('salary',axis=1,inplace = True)
print(df)

       Name  age      city  salary
0  sahastra   64      blr     5000
1    noufal   21  chennai    70000
2   sahithi   18   guntur     1000
3   thrisha   32    mumbai    3000
       Name  age      city
0  sahastra   64      blr
1    noufal   21  chennai
2   sahithi   18   guntur
3   thrisha   32    mumbai