In [1]:
1+1

2

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor =  connection.cursor()

In [5]:
## Craeting a table

cursor.execute(''' 
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
            )
''')

connection.commit()

In [7]:
cursor.execute(''' 
Select * from employees
''')

In [8]:
### Inserting the data 
cursor.execute('''
Insert into employees(name,age,department)
                values('Krish',32,'Data Scientist') 
''')

cursor.execute('''
Insert into employees(name,age,department)
                values('Noufal',39,'Data Analyst') 
''')

cursor.execute('''
Insert into employees(name,age,department)
                values('Satwika',12,'AI Engineer') 
''')

cursor.execute('''
Insert into employees(name,age,department)
                values('Priyanka',67,'ML Engineer') 
''')

connection.commit()

In [9]:
### query the data from the table 

cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Noufal', 39, 'Data Analyst')
(3, 'Satwika', 12, 'AI Engineer')
(4, 'Priyanka', 67, 'ML Engineer')

In [10]:
## updating data in the table 

cursor.execute('''
UPDATE employees
Set age = 34
where name = 'Krish'
''')

connection.commit()

In [11]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Noufal', 39, 'Data Analyst')
(3, 'Satwika', 12, 'AI Engineer')
(4, 'Priyanka', 67, 'ML Engineer')

In [13]:
### deleting the data 

cursor.execute('''
DELETE FROM employees
               where name = 'Priyanka'
''')

connection.commit()

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows :
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Noufal', 39, 'Data Analyst')
(3, 'Satwika', 12, 'AI Engineer')